<!-- <p>home works!</p> -->


<div class="card text-center">
    
    <div class="card-body">
      <h3 class="card-title">Searching By Ingridient</h3>
    
      <p class="card-text">
        Ever wondered what recipes you can cook with the ingredients you have in your fridge or pantry?
        So, here is your best chance to know and also know what are the extra ingridients you need to make it along with other specifications
       
      </p>
      <a (click)='search()' class="btn btn-primary">Start Searching</a>
    </div>

  </div>



  <div class="card text-center">
    
    <div class="card-body">
      <h3 class="card-title">Searching By Nutrions</h3>
    
      <p class="card-text">
        if you are nutrionist and want to make a dish which has fixed number of ingridients then here is your golden oppurtunity. Enter the amount of nutrition and BAZINGA we will show you what you can make .
       
      </p>
      <a (click)='searchnutrients()' class="btn btn-primary">Start Searching</a>
    </div>

  </div>



  <div class="card text-center">
    
    <div class="card-body">
      <h3 class="card-title">Finding Similar Dishes</h3>
    
      <p class="card-text">
   Want to try something similar to a dish but not that dish so, here you are enter the name of the dish we will present simiar dishes for you.
       
      </p>
      <a class="btn btn-primary" (click)='gosimilar()'>Start Searching</a>
    </div>

  </div>


  <div class="card text-center">
    
    <div class="card-body">
      <h3 class="card-title">Random Dish Generator</h3>
    
      <p class="card-text">
  Don't know what to make or what to eat , leave it to use just choose how namy disesh you want and we will show you some of the best things you will ever try in your life.
       
      </p>
      <a class="btn btn-primary" (click)='gorandom()'>Start Searching</a>
    </div>

  </div>


  <div class="card text-center">
    
    <div class="card-body">
      <h3 class="card-title">Resturant Chain Search</h3>
    
      <p class="card-text">
 Wanted to kniow about a centain certain type of food nd their recipies presented by some biggest food chain so here you are
       
      </p>
      <a class="btn btn-primary" (click)='gores()'>Start Searching</a>
    </div>

  </div>